# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/SHADOWDEM/.vs/SHADOWDEM.slnx/FileContentIndex/1c81bc65-c885-4afe-9278-0b970008bd40.vsidx
/qwqee/.vs/qwqee.slnx/FileContentIndex/4124025d-c862-41fd-8869-70487350cb26.vsidx
/qwqee/.vs/qwqee.slnx/FileContentIndex
/qwqee/.vs/qwqee.slnx/v18/Insiders/ipch/AutoPCH/cf26c1f9904b0dab
